body {
  background-image: url("hero_4.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
}

.image_center {
  text-align: center;
}

.main_nav {
  display: flex;
  justify-content: flex-end;
}
.main_nav ul {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;

  justify-content: flex-end;
}
.main_nav li img {
  margin: 0;
}

.main_nav li a {
  margin: 0 32px 0 0;
}

.main_nav a {
  color: #518c35;
  font-weight: bold;
  text-decoration: none;
}
.grid-container {
  /* background-color: #b1f293; */
  background-color: #ffffff;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px;

  width: 90%;
  max-width: 900px;
  padding: 8px;
  margin: 20px auto;
  border-radius: 10px;
  border-style: solid;
  border-color: #518c35;
  border-width: 4px;
}

.grid-item {
  min-height: 150px;
}

.grid-item img {
  border-style: solid;
  border-color: #518c359e;
  border-width: 2px;
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: block;
}
.section {
  margin-top: 50px;
}
